@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

body {
    background-color: steelblue;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50px;
    height: 50px;
}

th:nth-child(even) {
    background-color: grey;
}

th:nth-child(odd) {
    background-color: white;
}