@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

:root {
    --darkcolor: rgb(40, 40, 40);
}

* {
    box-sizing: border-box;
    font-family: 'Secular One', monospace;
}

html {
    scroll-behavior: smooth;
}

h5 {
    color: white;
    position: absolute;
    bottom: 1em;
    right: 3em;
}

body {
    background-color: floralwhite;
    transition: .4s all;
}

button {
    cursor: pointer;
}

button:is(.btn-copy, .btn-save) {
    -webkit-appearance: none;
    border: 1px solid black;
}

input:focus {
    outline: black;
    background-color: lightslategrey;
    transition: .4s;
}

textarea {
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.inputs {
    width: 100%;
    height: auto;
}

.div-textarea {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn-copy {
    transition: 0.4s all;
    width: 10em;
}

.btn-save {
    width: 5em;
    transition: 0.4s all;
}

#open-settings {
    background-color: transparent;
    border: none;
}

#open-settings img {
    width: 3em;
    height: 3em;
    transition: .4s all;
}

#open-plugins {
    background-color: transparent;
    border: none;
}

#open-plugins img {
    width: 3em;
    height: 3em;
    transition: .4s all;
}

.dialog {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 40%;
    overflow: auto;
    text-align: center;
}

.input_file_ext {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    padding: 15px;
}

.input_file_ext > input {
    width: 20em;
}

.input_file_ext > input + select {
    margin-left: 50px;
}

.div-btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 10px;
}

.div-btn-action button {
    width: 5em;
    height: 2em;
    background-color: lightblue;
    border: none;
    transition: .4s all;
    transform: scale(1);
}

#span-Line_Column-number {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
}

.scroll {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1em;
}

.scroll button:is(#scroll_top, #scroll_bottom) {
    border: 1px solid black;
    -webkit-appearance: none;
    transition: .4s all;
    transform: scale(1);
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    width: 99vw;
    position: absolute;
    bottom: 0.1em;
    background-color:aliceblue;
}

.footer::before {
    content: "";
    gap: 1em;
}

/* Mobile version */
@media screen and (max-width: 768px) {
    textarea {
        width: 80%;
    }

    input {
        font-size: small;
        width: 80%;
    }

    input:active {
        border: none;
    }

    #open-settings img {
        background-color: transparent;
        width:  3em;
        height: 3em;
    }

    #open-plugins img {
        background-color: transparent;
        width: 3em;
        height: 3em;
    }

    .dialog {
        width: 25em;
        height: 30em;
    }
    
    .input_file_ext > *{
        margin: 0.5em;
    }

    .input_file_ext > button {
        background-color: lightskyblue;
        color: black;
        border: none;
    }
}

/* Hover effect for only desktop version */
@media (hover: hover) {
    #open-settings img:hover {
        cursor: pointer;
        transform: rotate(45deg);
        transition: .4s all;
    }
    #open-plugins img:hover {
        cursor: pointer;
        transform: rotate(15deg);
        transition: .4s all;
    }
    .input_file_ext > button:hover {
        transform: scale(1.1);
        transition: .4s all;
    }
    button:is(#scroll_bottom, #scroll_top, .btn-cancel, .btn-ok, .btn-save, .btn-copy):hover {
        transition: .4s all;
        transform: scale(1.1);
        cursor: pointer;
    }
}