@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

:root {
    --darkcolor: rgb(40, 40, 40);
}

* {
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

html {
    scroll-behavior: smooth;
}

h3 {
    display: flex;
    justify-content: center;
}

h5 {
    color: white;
    position: absolute;
    bottom: 1em;
    right: 3em;
}

body {
    background-color: floralwhite;
    transition: .4s all;
}

button {
    cursor: pointer;
}

input:focus {
    outline: black;
    background-color: lightslategrey;
    transition: .4s;
}

textarea {
    font-size: medium;
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: center;
}

.inputs > span > input {
    width: 80em;
    font-size: large;
}

.inputs {
    width: 100%;
    margin-bottom: 1em;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.scroll {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: fixed;
    bottom: 15%;
    left: 1%;
}

.scroll > button {
    cursor: pointer;
    width: auto;
    height: auto;
    border: 1px solid var(--darkcolor);
    color: black;
    transform: scale(1);
    transition: 0.4s all;
}

.btn-copy {
    transition: 0.4s all;
    transform: scale(1);
    width: 10em;
}

.btn-save {
    width: 5em;
    transition: 0.4s all;
    transform: scale(1);
}

#open-settings {
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
    position: fixed;
    bottom: 1em;
    left: 1em;
}

#open-settings img {
    width: 4em;
    height: 4em;
    transform: scale(1);
    transition: .4s all;
}

.dialog {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 40%;
    overflow: auto;
    text-align: center;
}

.input_file_ext {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.input_file_ext > input {
    width: 20em;
}

.input_file_ext > button {
    width: 5em;
    height: 2em;
    background-color: black;
    color: lightsteelblue;
    transform: scale(1);
    transition: .4s all;
    margin: 1em;
}

#span-Line_Column-number {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

/* Mobile version */
@media screen and (max-width: 768px) {
    textarea {
        width: 80%;
    }

    input {
        font-size: small;
        width: 80%;
    }

    input:active {
        border: none;
    }

    h3 {
        font-size: small;
    }

    #open-settings {
        bottom: 1em;
        left: 1em;
    }

    #open-settings img {
        width:  3em;
        height: 3em;
    }

    .dialog {
        width: 25em;
        height: 30em;
    }
    
    .input_file_ext > *{
        margin: 0.5em;
    }

    .input_file_ext > button {
        background-color: lightskyblue;
        color: black;
        border: none;
    }

    .scroll {
        margin: 0;
        width: auto;
        padding: 0;
        bottom: 4.5em;
    }
}

/* Hover effect for only desktop version */
@media (hover: hover) {
    #open-settings img:hover {
        cursor: pointer;
        transform: scale(1.2) rotate(90deg);
        transition: .4s all;
    }
    .input_file_ext > button:hover {
        transform: scale(1.1);
        transition: .4s all;
    }
    .settings-panel > button:hover {
        transition: .4s all;
        transform: scale(1.1);
        cursor: pointer;
    }
    .scroll > button:hover {
        transition: .4s all;
        transform: scale(1.1);
    }
    .btn-copy:hover {
        transition: .4s all;
        transform: scale(1.1);
    }
    .btn-save:hover {
        transition: .4s all;
        transform: scale(1.1);
    }
}