* {
    box-sizing: border-box;
}

label {
    color: floralwhite;
}

input[type="checkbox"] {
    transform: scale(1.6);
}

.settings {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 4em;
    margin: auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: auto;
}

.settings > h3 {
    position: fixed;
    top: 1em;
    left: 1.7em;
    color: white;
}

.settings > h5 {
    position: fixed;
    bottom: 1em;
    right: 2em;
}

.settings-panel {
    position: relative;
    width: 80%;
    height: 90%;
    background-color: rgba(30, 150, 180, 0.6);
    margin: auto;
    padding: 1em;
    box-shadow:0 1px 4px rgba(200, 200, 200, 0.9), 0 0 40px rgba(200, 200, 200, 0.3) inset;
    -webkit-box-shadow:0 1px 4px rgba(200, 200, 200, 0.9), 0 0 40px rgba(200, 200, 200, 0.3) inset;
    -moz-box-shadow:0 1px 4px rgba(200, 200, 200, 0.9), 0 0 40px rgba(200, 200, 200, 0.3) inset;
    overflow: auto;
}

.div-bgcolor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
    margin: 1em;
    gap: 1em;
}

.div-show-line-numbers, .div-hide-scrollto-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 1em;
    gap: 1em;
}

.div-enable-smooth-scrolling, .div-default-file-ext,
.div-choose-font-size {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
    gap: 1em;
}

#span-buttons {
    position: absolute;
    bottom: 1em;
    right: 1em;
    gap: 1em;
    text-align: center;
}

#span-buttons > button {
    width: 4em;
    text-align: center;
    color: black;
    border: 1px solid white;
    transition: 0.4s all;
    transform: scale(1);
}

@media screen and (max-width: 768px) {
    
}

@media (hover: hover) {
    label:hover {
        cursor: pointer;
    }

    input[type="checkbox"]:hover {
        cursor: pointer;
    }

    #span-buttons > button:hover {
        transition: .4s all;
        transform: scale(1.1);
    }
}