@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

html {
    scroll-behavior: smooth;
}

h1, h3 {
    text-align: center;
}

h4 {
    position: fixed;
    bottom: 0em;
    left: 1em;
}

body {
    transition: .4s all;
}

input {
    border: none;
    background-color: lightskyblue;
    width: 70%;
    height: 2rem;
    font-size: large;
    padding-left: 1%;
}

.header {
    margin: 25px 25px;
}

.btn-bgcolor {
    position: absolute;
    top: 10px;
    right: 20px;
}

.btn-bgcolor button {
    width: 5em;
    background-color: black;
    color: lightsteelblue;
    transform: scale(1);
    transition: .4s all;
}

.btn-bgcolor button:hover {
    transform: scale(1.1);
    transition: .4s all;
}

#dark-btn:hover {
    background-color: #414A4C;
    color: white;
}

#light-btn:hover {
    background-color: white;
    color: #414A4C;
}

#settings {
    width: auto;
    height: auto;
    background-color: transparent;
    position: fixed;
    bottom: 3em;
    left: 1.5em;
}

#settings img {
    width: 3em;
    height: 3em;
    transform: scale(1);
    transition: .4s all;
}

#settings img:hover {
    transform: scale(1.2) rotate(90deg);
    transition: .4s all;
}

input:active {
    border: none;
}

a {
    display: flex;
    justify-content: center;
    color: black;
}


span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    height: 2rem;
}

button {
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}

.input_file_ext {
    /* Display is set in js file default -> flex, after-btn-click -> none */
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin: auto;
    z-index: 2;
    height: auto;
}


.scroll {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 5%;
    right: 10%;
}

.scroll > button {
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: none;
    color: white;
}
 /* Mobile version */
@media screen and (max-width: 678px) {
    input {
        border: none;
        font-size: small;
        padding-left: 1%;
        width: 80%;
    }
    input:active {
        border: none;
    }

    a {
        font-size: small;
    }

    h3 {
        font-size: small;
    }
}