@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

html {
    scroll-behavior: smooth;
}

h1, h3 {
    text-align: center;
}

h4 {
    position: fixed;
    bottom: 0em;
    left: 1em;
}

body {
    transition: .4s all;
}

input {
    border: none;
    background-color: lightskyblue;
    width: 70%;
    height: 2rem;
    font-size: large;
    padding-left: 1%;
}

.header {
    margin: 25px 25px;
}

.btn-bgcolor {
    position: absolute;
    top: 10px;
    right: 20px;
}

.btn-bgcolor button {
    width: 5em;
    background-color: black;
    color: lightsteelblue;
    transform: scale(1);
    transition: .4s all;
}

.btn-bgcolor button:hover {
    transform: scale(1.1);
    transition: .4s all;
}

#dark-btn:hover {
    background-color: #414A4C;
    color: white;
}

#light-btn:hover {
    background-color: white;
    color: #414A4C;
}

#open-settings {
    width: auto;
    height: auto;
    background-color: transparent;
    position: fixed;
    bottom: 3em;
    left: 1.5em;
}

#open-settings img {
    width: 3em;
    height: 3em;
    transform: scale(1);
    transition: .4s all;
}

#open-settings img:hover {
    transform: scale(1.2) rotate(90deg);
    transition: .4s all;
}

input:active {
    border: none;
}

a {
    display: flex;
    justify-content: center;
    color: black;
}


span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    height: 2rem;
}

button {
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}

.dialog {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    margin: auto;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 40%;
    overflow: auto;
}

.input_file_ext {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.input_file_ext > input {
    width: 20em;
}
.input_file_ext > button {
    width: 5em;
    background-color: black;
    color: lightsteelblue;
    transform: scale(1);
    transition: .4s all;
}
.input_file_ext > button:hover {
    transform: scale(1.1);
    transition: .4s all;
}

.scroll {
    position: fixed;
    bottom: 5%;
    right: 10%;
}

.scroll > button {
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: none;
    color: white;
}

.settings {
    display: none;
    z-index: 2;
}
 /* Mobile version */
@media screen and (max-width: 678px) {
    input {
        border: none;
        font-size: small;
        padding-left: 1%;
        width: 80%;
    }
    input:active {
        border: none;
    }

    a, h3, h4 {
        font-size: small;
    }

    .btn-bgcolor {
        padding-top: 1.5rem;
        flex-direction: column;
        gap: 1em;
    }

    #open-settings {
        bottom: 2.5em;
        left: 1.5em;
    }

    #open-settings img {
        width:  2em;
        height: 2em;
    }

    h4 {
        bottom: 0em;
        left: 1em;
    }
}