@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

body {
    background-color: steelblue;
}

h1, h3 {
    text-align: center;
}

input {
    border: none;
    background-color: lightskyblue;
    width: 70%;
    height: 2rem;
    font-size: large;
    padding-left: 1%;
}

input:active {
    border: none;
}

input:focus::placeholder {
    color: transparent;
}

a {
    display: flex;
    justify-content: center;
}


span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    height: 2rem;
}

button {
    width: auto;
    height: auto;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 678px) {
    input {
        border: none;
        font-size: small;
        padding-left: 1%;
        width: 80%;
    }
    input:active {
        border: none;
    }

    a {
        font-size: small;
    }

    h3 {
        font-size: small;
    }
}
