@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

textarea {
    border: 3px solid aqua;
}

a {
    display: flex;
    justify-content: center;
}