@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Secular+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Secular One', monospace
}

body {
    background-color: steelblue;
}

h1 {
    text-align: center;
}

input {
    border: none;
    background-color: lightskyblue;
    width: 70rem;
    height: 2rem;
    font-size: large;
}

input:active {
    border: none;
}

a {
    display: flex;
    justify-content: center;
}


span {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2rem;
}